# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode - User specific
xcuserdata/
*.xccheckout

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Temporary files
*.swp
*~
